*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  font-family: Raleway, sans-serif;
  block-size: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  display: block;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
