.header {
    position: relative;
    max-width: 1340px;
    height: 109px;
    background-color: #fff;
    margin: 92px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    align-self: center;
    justify-self: start;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    text-decoration: none;
}

.header__link_active {
    text-underline-offset: 4px;
}

.header__logo {
    display: block;
    width: 138px;
    position: absolute;
    top: 0;
    right: 601px;
}

.address {
    line-height: 1.4;
}

.header__address {
    width: 240px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.header__address a {
    text-underline-offset: 4px;
}

/*----------- cover ---------------*/

.cover {
    position: relative;
    height: 757px;
    max-width: 1440px;
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu 
.overlay {
    position: absolute;
    width: 1440px;
    height: 757px;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
    
} 

.cover__title {
    padding: 0;
    width: 1340px;
    height: 355px;
    position: absolute;
    top: 165px;
    right: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

.aligned-text {
    display: inline-block;
    padding: 0;
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.no-letter-spacing {
    display: inline-block;
    letter-spacing: normal;
}

.letter-spacing-extended {
    display: inline-block;
    letter-spacing: 60px;
}

.aligned-text_center {
    width: 1280px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
}


.aligned-text_right {
    display: inline-block;
    text-align: right;
    font-size: 100px;
    font-weight: 700;
    line-height: 100%; /* 100px */
    text-transform: uppercase;
    letter-spacing: 30px;
}



.cover__description {
    position: absolute;
    right: 50px;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 78px;
    z-index: 2;
}

.cover__description-text {
    block-size: border-box;
    width: 633px;
    word-spacing: 17px;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
}

.bet-button {
    block-size: border-box;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: transparent;
    border: 1px solid #fff;
} 

/*----------- lots ---------------*/

.lots {
    position: relative;
    max-width: 1340px;
    box-sizing: border-box;
    margin: 180px 50px 181px;
    padding: 74px 0 55px;
}

.lots__heading {
    position: absolute;
    top: 0;
    left: 40px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    min-width: 430px;
    max-width: 430px;
    min-height: 450px;
    max-height: 450px;
}


.card-link {
    display: block;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
}
.card__title {
    max-width: 350px;
    position: absolute;
    top: 50px;
    left: 40px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    text-underline-offset: 3px;
    z-index: 3;
}

.card__text {
    position: absolute;
    right: 40px;
    left: 40px;
    bottom: 50px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.lots__look-more-link {
    position: absolute;
    left: 40px;
    bottom: 0;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-underline-offset: 5px;
}

/*----------- about ---------------*/

.about {
    box-sizing: border-box;
    min-height: 487px;
    padding: 0;
    max-width: 1340px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 430px 885px;
    gap: 25px;
}


.column_left {
    display: flex;
    padding: 0px 95px;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.about__logo {
    position: relative;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 100%;
}

.about__logo-image {
    position: absolute;
    display: block;
    width: 148px;
    height: 114px;
}

.column_rigth {
    max-height: 388px;
    max-width: 885px;
    margin: 100px 0 1px;
    display: flex;
    flex-direction: column;
}

.about__title {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 101px;
}

.about__text {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}


/*----------- footer ---------------*/

.footer {
    block-size: border-box;
    display: grid;
    grid-template-columns: 240px 149px 240px;
    column-gap: 356px;
    max-width: 1340px;
    padding: 0;
    margin: 181px 50px 90px;
}   

.footer__address {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px; /* 135% */
}

.footer__address a {
    text-underline-offset: 4px;
}

.footer__menu {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
}

.footer__menu-link {
    display: block;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    list-style-type: none;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}